 
        <!-- /content -->
    </div>
  </div>

  </div>
</div><!--/row-->

<hr />

  <div class="row">
    <div class="span6">
        <!-- Writing by Peter Bockenthien-->
          <section id="writing">
            <h1>Writing</h1>
            <h2>Fruits of the Spirit</h2>
      <p>Fruits of the Spirit publishes May 24th, 2014. The first 111 to sign up receive a special discount.</p>
    </div>
    <div class="span4">
        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">

        <div id="mc_embed_signup">
        <form action="http://bockenthien.us8.list-manage1.com/subscribe/post?u=b779e151c4b26c3616714f79e&amp;id=8e96450302" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-horizontal" target="_blank" novalidate>
        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
        <div class="mc-field-group">
          <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
        </label>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div class="mc-field-group">
          <label for="mce-FNAME">First Name </label>
          <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
        </div>
        <div class="mc-field-group">
          <label for="mce-LNAME">Last Name </label>
          <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
        </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_b779e151c4b26c3616714f79e_8e96450302" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </form>
      </div>
          </section>
        </div>
      <div class="span6">
      <!-- Analysis-->
        <section id="analysis">
          <h1>Professional Analysis</h1>
            <p>You can read my current <a href="http://mospherix.com/a64.html" target="_blank">Amendment 64 Analysis here.</a> Note: my analysis is a little upside down right now due to the Colorado Legislature ignoring the larger issue of Hemp. One can grow marijuana <strong>right now</strong>, but not Hemp.</p>

              <ul>
                <li>
                  <h3 style="line-height: 1;"><a href="http://organnex.com/blog/proposition-37-the-california-right-to-know-ballot-initative/" target="_blank">Proposition 37: The California Right To Know Ballot Initiative</a></h3>
                  <p>Should GMO foods be labeled? Absolutely. Will it result in less chemicals being used? Probably not. <a href="http://organnex.com/blog/proposition-37-the-california-right-to-know-ballot-initative/" target="_blank">Read why here.</a></p>
                  </li>
              </ul>
            </section>
          </div>
      </div>

</div><!-- finally closed the container Doy! -->

<!-- Footer -->
<footer class="footer">
  <div class="container">
    <p class="pull-right"><a href="index.htmlessays.html#">Back to top</a></p>
    <!-- <li><a href="mospherix/"><i class="icon-pencil"></i> Cloud Blog</a></li> -->
  <p>Colors based on a sandstone, blue shale specimen unique to the Dakota formation in Colorado</p>
    <p><small>Colors used to be based on a cross section of a peeled Sibley's winter squash &mdash; it looks far more beautiful than this.</small></p>
    <p><small>Before that, colors were based on the colors of my favorite shirt, which didn't look anything like it.</small></p>
  </div>
</footer> 

<!--  javascript -->
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script src="/pebo/js/jquery.js"></script>
<script src="/pebo/js/google-code-prettify/prettify.js"></script>
<script src="/pebo/js/bootstrap-transition.js"></script>
<script src="/pebo/js/bootstrap-alert.js"></script>
<script src="/pebo/js/bootstrap-modal.js"></script>
<script src="/pebo/js/bootstrap-dropdown.js"></script>
<script src="/pebo/js/bootstrap-scrollspy.js"></script>
<script src="/pebo/js/bootstrap-tab.js"></script>
<script src="/pebo/js/bootstrap-tooltip.js"></script>
<script src="/pebo/js/bootstrap-popover.js"></script>
<script src="/pebo/js/bootstrap-button.js"></script>
<script src="/pebo/js/bootstrap-collapse.js"></script>
<script src="/pebo/js/bootstrap-carousel.js"></script>
<script src="/pebo/js/bootstrap-typeahead.js"></script>
<script src="/pebo/js/bootstrap-affix.js"></script>
<script src="/pebo/js/application.js"></script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://c0209.paas1.tx.modxcloud.com/piwik/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "12"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->
</body>
</html>