<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Essays · Peter Bockenthien</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<META NAME="keywords" CONTENT="">
<meta name="robots" content="index, follow">
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="rss.html" />


<!-- styles -->
<link href="/pebo/css/bootstrap.css" rel="stylesheet">
<link href="/pebo/css/bootstrap-responsive.css" rel="stylesheet">
<link href="/pebo/css/docs.css" rel="stylesheet">
<link href="/pebo/css/peterb.css" rel="stylesheet">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- fav and touch icons -->
<link rel="shortcut icon" href="/pebo/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/pebo/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/pebo/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/pebo/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="/pebo/ico/apple-touch-icon-57-precomposed.png">
<meta name="google-site-verification" content="RSkKot1hJAwu6znI1J6OIWxGI0M9CN0pKYiDj0H5SMI" />

</head>

<body data-spy="scroll" data-target=".pb-sidebar" class="ignore">

<div class="container bockenthien">

{% include main-nav.html %}

<!--Content: Peter Bockenthien-->
  <div class="row">
  <div class="span12">
   <h1>Fruits of the Spirit</h1>
      <!-- Essays by Peter Bockenthien-->

<!-- <p>Click on the short links below to open their tab contents</p> -->
<!--insert-->

<div class="row">
  <div class="span3 peter-sidebar">
      <ul class="unstyled lead">
    {% for post in site.posts %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  </div>

    <div class="span8">
        <!-- content -->

