		<ul class="nav nav-list peter-sidenav">
			<li class="active"><a data-toggle="tab" href="#lovelegal">Love vs. Legalism</a></li>
			<!-- <li><a data-toggle="tab" href="#aim">Ready, Aim, Love</a></li>
			<li><a data-toggle="tab" href="#belief">Power of Belief</a></li>
			<li><a data-toggle="tab" href="#millenials">Millenials</a></li>
			<li><a data-toggle="tab" href="#inequal">Inequal Outcomes</a></li>
			<li><a data-toggle="tab" href="#legalism">Legalism</a></li>
			<li><a data-toggle="tab" href="#greater">No Greater Love</a></li> -->
		</ul>