  <div class="row">
    <div class="span6">
        <!-- Writing by Peter Bockenthien-->
          <section id="writing">
            <h1>Writing</h1>
            <h2>Fruits of the Spirit</h2>
      <p>Fruits of the Spirit publishes May 24th, 2014. The first 111 to sign up receive a special discount.</p>

        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">

        <div id="mc_embed_signup">
        <form action="http://bockenthien.us8.list-manage1.com/subscribe/post?u=b779e151c4b26c3616714f79e&amp;id=8e96450302" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-horizontal" target="_blank" novalidate>
        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
        <div class="mc-field-group">
          <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
        </label>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div class="mc-field-group">
          <label for="mce-FNAME">First Name </label>
          <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
        </div>
        <div class="mc-field-group">
          <label for="mce-LNAME">Last Name </label>
          <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
        </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_b779e151c4b26c3616714f79e_8e96450302" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </form>
      </div>
    </section>
  </div>
      <div class="span6">
      <!-- Analysis-->
        <section id="analysis">
          <h1>Professional Analysis</h1>
            <p>You can read my current <a href="http://mospherix.com/a64.html" target="_blank">Amendment 64 Analysis here.</a> Note: my analysis is a little upside down right now due to the Colorado Legislature ignoring the larger issue of Hemp. One can grow marijuana <strong>right now</strong>, but not Hemp.</p>

              <ul>
                <li>
                  <h3 style="line-height: 1;"><a href="http://organnex.com/blog/proposition-37-the-california-right-to-know-ballot-initative/" target="_blank">Proposition 37: The California Right To Know Ballot Initiative</a></h3>
                  <p>Should GMO foods be labeled? Absolutely. Will it result in less chemicals being used? Probably not. <a href="http://organnex.com/blog/proposition-37-the-california-right-to-know-ballot-initative/" target="_blank">Read why here.</a></p>
                  </li>
              </ul>
            </section>
          </div>
      </div>